

header {
      background-color: rgb(255, 0, 0, 0);
      height: 80px;
      
      z-index: 2000;
      position: relative;

      display: flex;
      align-items: center;

    
    
      .logo {
        a{
            img {
            
                  height: 27px;
                  width: 116px;
            }
        }
      }

      .navigation{
            display: flex;
            justify-content: right;
            
            .support-block{
              

              a{
                display: flex;
                align-items: center;

                color: white;
                margin-right: 110px;
                font-size: 16px;
                font-weight: 600;
                text-decoration: none;
  
                .icon{
                  margin-right: 8px;
                  width: 18px;
                  height: 18px;
                  background-color: white;
                }
              }
            }

            nav {
                  height: 1.8em;
                  width: 50px;
                  line-height: 1.5;
                  border: 1px solid rgb(255, 255, 255);
                  border-radius: 15px;
                  position: absolute;
                  overflow: hidden;
                  transition: 0.4s;
                }

                nav:hover {
                  height: 3.25em;
                }

                nav ul {
                  list-style: none;
                  padding: 0;
                  margin: 0;
                  display: flex;
                  flex-flow: column nowrap;
                }
                nav a {
                  text-decoration: none;
                  color: #fff;
                  text-align: center;
                  font-size: 16px;
                  font-weight: 600;
                  display: block;
                  background-color: rgba(85, 85, 85, 0);
                  padding: 0em 0em;
                }
                nav a:hover {
                  background-color: #333;
                }
                nav a::before {
                  list-style-type: none;
                }
                [lang="ja"] [lang="ja"]::before,
                [lang="en"] [lang="en"]::before,
                [lang="fr"] [lang="fr"]::before {
                  background-color: #0fc;
                }
                [lang="ja"] nav li:nth-child(1),
                [lang="en"] nav li:nth-child(2),
                [lang="fr"] nav li:nth-child(3) {
                  order: -1;
                }
                main {
                  position: relative;
                  margin: 15vw auto;
                  padding: 0;
                  text-align: center;
                  width: 80vw;
                  height: 5em;
                }
                main > section {
                  position: absolute;
                  margin: 0;
                  padding: 0;
                  top: 0;
                  left: 0;
                  width: 100%;
                  height: 100%;
                  display: flex;
                  justify-content: center;
                  background-color: rgba(0,0,0,0.1);
                  transition:.4s;
                  transform-origin: bottom;
                  transform: rotateX(90deg);
                }
                main > section h1 {
                  margin: auto;
                  line-height: 1;
                }
                [lang="en"] section[lang="en"],
                [lang="fr"] section[lang="fr"] {
                  transform: rotateX(0deg);
                }
      }

      

}
    
    
    

    