section.hero-faq{
      height: 200px;
      width: 100%;
      background-color: white;

      .hero-banner{
            position: absolute;
            top: 0;
            left: 0;

            background-image: url("../../../../images/background.jpg");
            background-size: no-repeat;
            background-position: center;
            background-size: cover;
            height: 280px;
            width: 100%;
            
            .content{
                  position: relative;
                  top: 120px;
                  left: 0;
                  text-align: left;

                  .section-title{
                        display: flex;
                        align-items: center;
                        h2{
                              font-weight: 400;
                              font-size: 28px;
                              font-family: 'Inter';
                              font-weight: 400;
                              line-height: 1.1;
                              color: white;
                              
                              margin-top: 20px;
                              margin-bottom: 10px;

                              a{
                                    color: #f9253f;
                                    text-decoration: none;
                              }
                        }

                        .icon{
                              margin-top: 8px;
                              margin-left: 6px;
                              margin-right: 6px;
                              background-color: white;
                              height: 24px;
                              width: 24px;
                        }
                  }
            }
            
      }

}

section.faq{

      .section-title{
            padding: 30px 0;
            h2{
                  text-align: center;
                  margin: 0;
                  font-size: 52px;
                  font-weight: 400;
                  color: #424543;
            }
      }

      .covid{
            margin-top: 30px;
      }
      
      .faq-block{
            
            background: white;
            box-shadow: 0 2px 4px rgba(0,0,0,.15);
            border-radius: 6px;
            


            .content{
                  padding: 20px;

                  .section-title-ac{
                        h3{
                              font-size: 22px;
                              font-weight: 500;
                              margin: 0;
                              font-family: 'Inter';
                              line-height: 1.42857;
                              color: #424543;
                        }
                  }

                  .accordion{
                        background-color: none;
                        border: 0;
                  }

                  .accordion__panel {
                        padding: 15px;
                        animation: fadein 0.60s ease-in;
                      }

                  .accordion__button {
                        background-color: white;
                        color: #424543;
                        cursor: pointer;
                        padding: 18px;
                        width: 100%;
                        text-align: left;
                        border: none;

                        font-size: 18px;
                        font-weight: 500;
                        font-family: 'Inter';
                  }


                  p{
                        font-weight: 500;
                        line-height: 18px;
                        font-size: 14px;
                        color: #424543;
                  }
            }
      }
}

@media screen and (min-width: 320px) and (max-width: 479.98px) {

      section.hero-faq{       
            height: 100px;
            width: 100%;
            background-color: white;
      
            .hero-banner{
                  position: absolute;
                  top: 0;
                  left: 0;
      
                  background-image: url("../../../../images/background.jpg");
                  background-size: no-repeat;
                  background-position: center;
                  background-size: cover;
                  height: 180px;
                  width: 100%;
                  
                  .content{
                        position: relative;
                        top: 80px;
                        left: 0;
                        text-align: left;
      
                        .section-title{
                              display: flex;
                              align-items: center;
                              h2{
                                    font-weight: 400;
                                    font-size: 14px;
                                    font-family: 'Inter';
                                    font-weight: 600;
                                    line-height: 1.1;
                                    color: white;
                                    
                                    margin-top: 20px;
                                    margin-bottom: 10px;
      
                                    a{
                                          color: #f9253f;
                                          text-decoration: none;
                                    }
                              }
      
                              .icon{
                                    margin-top: 8px;
                                    margin-left: 6px;
                                    margin-right: 6px;
                                    background-color: white;
                                    height: 16px;
                                    width: 16px;
                              }
                        }
                  }
                  
            }
      
      }

      section.faq{

            .section-title{
                  padding: 30px 0 0 0;
                  h2{
                        text-align: center;
                        margin: 0;
                        font-size: 28px;
                        font-weight: 400;
                        color: #424543;
                  }
            }
      
            .covid{
                  margin-top: 30px;
            }
            
            .faq-block{
                  margin-top: 30px;
                  
                  background: white;
                  box-shadow: 0 2px 4px rgba(0,0,0,.15);
                  border-radius: 6px;
                  
      
      
                  .content{
                        padding: 20px;
      
                        .section-title-ac{
                              h3{
                                    font-size: 18px;
                                    font-weight: 500;
                                    margin: 0;
                                    font-family: 'Inter';
                                    line-height: 1.42857;
                                    color: #424543;
                              }
                        }
      
                        .accordion{
                              background-color: none;
                              border: 0;
                        }
      
                        .accordion__panel {
                              padding: 15px;
                              animation: fadein 0.60s ease-in;
                            }
      
                        .accordion__button {
                              background-color: white;
                              color: #424543;
                              cursor: pointer;
                              padding: 15px;
                              width: 100%;
                              text-align: left;
                              border: none;
      
                              font-size: 14px;
                              font-weight: 500;
                              font-family: 'Inter';
                        }
      
      
                        p{
                              font-weight: 500;
                              line-height: 18px;
                              font-size: 14px;
                              color: #424543;
                        }
                  }
            }
      }
    
}

@media screen and (min-width: 480px) and (max-width: 767.98px) {

      section.hero-faq{       
            height: 100px;
            width: 100%;
            background-color: white;
      
            .hero-banner{
                  position: absolute;
                  top: 0;
                  left: 0;
      
                  background-image: url("../../../../images/background.jpg");
                  background-size: no-repeat;
                  background-position: center;
                  background-size: cover;
                  height: 180px;
                  width: 100%;
                  
                  .content{
                        position: relative;
                        top: 80px;
                        left: 0;
                        text-align: left;
      
                        .section-title{
                              display: flex;
                              align-items: center;
                              h2{
                                    font-weight: 400;
                                    font-size: 14px;
                                    font-family: 'Inter';
                                    font-weight: 600;
                                    line-height: 1.1;
                                    color: white;
                                    
                                    margin-top: 20px;
                                    margin-bottom: 10px;
      
                                    a{
                                          color: #f9253f;
                                          text-decoration: none;
                                    }
                              }
      
                              .icon{
                                    margin-top: 8px;
                                    margin-left: 6px;
                                    margin-right: 6px;
                                    background-color: white;
                                    height: 16px;
                                    width: 16px;
                              }
                        }
                  }
                  
            }
      
      }

      section.faq{

            .section-title{
                  padding: 30px 0 0 0;
                  h2{
                        text-align: center;
                        margin: 0;
                        font-size: 28px;
                        font-weight: 400;
                        color: #424543;
                  }
            }
      
            .covid{
                  margin-top: 30px;
            }
            
            .faq-block{
                  margin-top: 30px;
                  
                  background: white;
                  box-shadow: 0 2px 4px rgba(0,0,0,.15);
                  border-radius: 6px;
                  
      
      
                  .content{
                        padding: 20px;
      
                        .section-title-ac{
                              h3{
                                    font-size: 18px;
                                    font-weight: 500;
                                    margin: 0;
                                    font-family: 'Inter';
                                    line-height: 1.42857;
                                    color: #424543;
                              }
                        }
      
                        .accordion{
                              background-color: none;
                              border: 0;
                        }
      
                        .accordion__panel {
                              padding: 15px;
                              animation: fadein 0.60s ease-in;
                            }
      
                        .accordion__button {
                              background-color: white;
                              color: #424543;
                              cursor: pointer;
                              padding: 15px;
                              width: 100%;
                              text-align: left;
                              border: none;
      
                              font-size: 14px;
                              font-weight: 500;
                              font-family: 'Inter';
                        }
      
      
                        p{
                              font-weight: 500;
                              line-height: 18px;
                              font-size: 14px;
                              color: #424543;
                        }
                  }
            }
      }

}
    
@media screen and (min-width: 768px) and (max-width: 1023.98px) {


}

@media screen and (min-width: 1024px) and (max-width: 1199.98px) {}

@media screen and (min-width: 1200px) and (max-width: 1480.98px) {}

@media (min-width: 1481px) {}