section.hero-preorders{
      height: 200px;
      width: 100%;
      background-color: white;

      .hero-banner{
            position: absolute;
            top: 0;
            left: 0;

            background-image: url("../../../images/background.jpg");

            background-size: no-repeat;

            background-position: center;

            background-size: cover;

            height: 280px;

            width: 100%;
            


            .content{
                  position: absolute;
                  top: 120px;
                  left: 0;
                  text-align: center;

                  .section-title{
                        padding-bottom: 20px;
                        h1{
                              color: white;
                              font-family: 'Inter';
                              font-style: 32px;
                              font-weight: 700;
                              margin: 0;
                        }
                  }

                  .section-description{
                        p{
                              margin: 0;
                              font-family: 'Inter';
                              color: white;
                              font-size: 18px;
                              font-weight: 400;
                        }
                  }
            }
            
      }

}

section.preoder-info{
      padding: 40px 0px;
      background: white;
      

      .section-navigation{
            display: flex;
            align-items: center;
            padding-bottom: 20px;

            .icon{
                  padding: 0px 10px;
                  height: 16px;
                  width: 24px;
            }

            .chose{
                  color: rgb(7, 69, 81);
                  font-family: 'Inter';
                  font-size: 24px;
                  font-weight: 500;
                  margin: 0;
            }

            .next{
                  color: rgb(210, 210, 210);
                  font-family: 'Inter';
                  font-size: 24px;
                  font-weight: 500;
                  margin: 0;
            }
      }

      .cities{
            display: flex;
            align-items: center;
            padding-bottom: 10px;
            .icon{
                  padding: 0px 10px;
                  height: 16px;
                  width: 24px;
            }
            .from{
                  color: #424543;
                  font-family: 'Inter';
                  font-size: 24px;
                  font-weight: 500;
                  margin: 0;
            }
            .to{
                  color: #424543;
                  font-family: 'Inter';
                  font-size: 24px;
                  font-weight: 500;
                  margin: 0;
            }
      }

      .icon-line{
            .icon{
                  margin-left: 64px;
                  width: 24px;
                  height: 24px;
                  background-color: black;
            }
      }

      .map-block{
            display: flex;
            padding: 10px 0;
            .time-and-date{
                  margin-right: 20px;
                  width: 44px;

                  .time{
                        font-size: 14px;
                        font-weight: 500;
                        line-height: 1.29;
                        color: #424543;
                        font-family: 'Inter';
                  }

                  .date{
                        font-size: 12px;
                        line-height: 1.17;
                        white-space: nowrap;
                        color: #424543;
                        font-family: 'Inter';
                  }
            }

            .city-and-place{
                  
                  .city-from{
                        font-size: 14px;
                        font-weight: 500;
                        line-height: 1.29;
                        font-family: 'Inter';
                  }
                  .place-from{
                        font-size: 14px;
                        line-height: 1.42857;
                        color: #424543;
                        font-family: 'Inter';
                  }
            }
      }

      .more-info{
            padding-top: 10px;
            font-size: 14px;
            line-height: 1.42857;
            color: #424543;
            font-family: 'Inter';
      }
      
      .flight-type{
            padding-top: 10px;
            font-size: 14px;
            line-height: 1.42857;
            color: #424543;
            font-family: 'Inter';
      }

      .benefits-block{
            .benefits-title{
                  padding-top: 10px;
                  padding-bottom: 10px;
                  font-size: 16px;
                  line-height: 1.42857;
                  color: #424543;
                  font-family: 'Inter';
            }

            .block-icon{
                  display: flex;
                  align-items: center;
                  padding-bottom: 4px;

                  font-size: 14px;
                  line-height: 1.42857;
                  color: #424543;
                  font-family: 'Inter';
                 .icon{
                        width: 18px;
                        height: 18px;
                        margin-right: 8px;
                  } 
            }
            
      }

      .rating-block{
            padding-top: 10px;
            font-size: 16px;
            line-height: 1.42857;
            color: #424543;
            font-family: 'Inter';

            .red{
                  color: red;
            }
      }

      .main-info{
            
            .driver{
                  padding: 10px 0;
                  font-family: 'Inter';
                  font-size: 14px;
                  line-height: 1.42857;
                  font-weight: 600;
                  color: #424543;
            }

            .driver-com{
                  padding-bottom: 4px;
                  font-family: 'Inter';
                  font-size: 14px;
                  line-height: 1.42857;
                  color: #424543;
            }

            .driver-bus{
                  font-family: 'Inter';
                  font-size: 14px;
                  line-height: 1.42857;
                  color: #424543;
            } 
      }
}

section.preorder-ticket{
      padding-top: 40px;

      .preoder-block{
            width: 100%;
            background-color: white;
              box-shadow: 0 2px 4px rgba(0,0,0,.15);
            border-right: 10px;

            .content{
                  padding: 30px 0px;
                  .section-title{
                        padding-bottom: 20px;
                        h2{
                              color: #424543;
                              font-family: 'Inter';
                              font-size: 22px;
                              font-weight: 500;
                              margin: 0;
                              text-align: center;
                        }
                  }

                  .ticket-block{

                        .ticket-name{
                              display: flex;
                              justify-content: center;
                              align-items: center;

                              h2{
                                    color: black;
                                    font-family: 'Inter';
                                    font-size: 18px;
                                    font-weight: 500;
                                    margin: 0;
                              }

                              .icon{
                                    width: 20px;
                                    height: 20px;
                                    margin-left: 6px;
                              }
                        }

                        .available-seats{
                              height: 24px;
                              display: flex;
                              justify-content: center;
                              align-items: center;
                              padding: 22px 0;
                              h2{
                                    color: black;
                                    font-family: 'Inter';
                                    font-size: 14px;
                                    font-weight: 500;
                                    margin: 0;
                              }  

                              .benefits{
                                    display: flex;
                                    align-items: center;
                                    justify-content: center;
                                    margin-left: 20px;
                                    .benefits-title{
                                          padding-top: 10px;
                                          padding-bottom: 10px;
                                          font-size: 12px;
                                          line-height: 1.42857;
                                          color: #424543;
                                          font-family: 'Inter';
                                    }
                        

                                         .icon{
                                                width: 14px;
                                                height: 14px;
                                                margin: 0 4px;
                                          } 
                                    
                              }
                        }

                        .premium-benefits{

                              .benf{
                                    display: flex;
                                    justify-content: center;
                                    padding: 3px 0;
                                    font-size: 16px;
                                    line-height: 1.42857;
                                    color: #424543;
                                    font-family: 'Inter';
                                    .icon{
                                          margin-right: 4px;
                                          width: 24px;
                                          height: 24px;
                                          background: green;
                                    }
                              }
                        }

                        .buy-button{
                              padding: 20px 0;
                              display: flex;
                              justify-content: center;
                              align-items: center;
                              
                              button.button {
                                    display: inline-block;
                                
                                    width: 120px;
                                    height: 46px;
                                    border: 0;
                                    border-radius: 5px;
                                    background-color: rgb(230, 30, 50);
                              
                                    font-family: 'Inter';
                                    font-weight: 600;
                                    font-size: 14px;
                                    line-height: 160%;
                                    color: #F2F4F7;
                                
                                    a{
                                      text-decoration: none;
                                    }
                                
                                    &:hover{
                                        border: 1px solid black;
                                        color: #5D5D5D;
                                        background: white;
                                    }
                              
                                    transition: 0.2s ease;
                                  
                              }

                              .price{
                                    margin-left: 20px;
                                    font-size: 24px;
                                    line-height: 1.42857;
                                    color: #424543;
                                    font-family: 'Inter';
                              }
                        }
                  }

            }
      }
}
